#sideBar {
    height: 100vh;
    background-color: #353535;
    color: white;
    position: fixed;
    z-index: 100;
    overflow: auto;
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px red;
    }
}

@media screen and (max-width: 700px) {
    #sideBar {
        width: 0px;
        padding-left: 0px;
        padding-right: 0px;
        transition-duration: 0.2s;
        #sidebar-content {
            margin-top: 60px;
        }
        #closeButton {
            font-size: 30px;
            text-align: right;
            span {
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 700px) {
    #sidebar-content {
        margin-top: 105px;
        #closeButton {
            display: none;
        }
    }
    .col-md-3 {
        width: 20% !important;
    }
    .col-md-9 {
        width: 80% !important;
        margin-left: 20% !important;
    }
}

#sidebar-content {
    ul {
        padding-left: 10px;
        li {
            font-size: 20px;
            list-style: none;
            border-width: 0px 0px 0px 5px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0);
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 20px;
            transition: 0.3s;
            cursor: pointer;
        }
        li:hover {
            border-color: #29B6F6;
        }
        .cart-items {
            cursor: default;
            padding-left: 0px;
            border-width: 0px 0px 0px 0px;
            .remove-from-cart-button {
                margin-left: 0px;
                margin-right: 10px;
                color: #C62828;
            }
            img {
                width: 30px;
            }
            span {
                margin-left: 5px;
                text-align: right;
                font-size: 17px !important;
            }
            .amount {
                float: right;
                margin-top: 5px;
                margin-right: 10px;
            }
        }
    }
    #checkout-button {
        border-width: 2px;
        border-style: solid;
        background-color: rgba(0, 0, 0, 0) !important;
        padding: 10px;
        margin-bottom: 20px;
    }
}

#banner {
    padding: 0px;
}

@media screen and (min-width: 700px) {
    .shop-bg {
        margin-top: -50px !important;
        height: 65vh;
        width: 100%;
        display: table;
        margin: 0px;
        background-size: 100% 120%;
        background-position: center;
        background-attachment: fixed;
        background-image: url('photos/shop-bg.jpg');
        h1 {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: white;
            font-weight: 900;
            font-size: 70px;
        }
    }
    #filter-logo {
        display: none;
    }
    #product-content {
        margin-top: 20px;
        min-height: 140vh;
    }
}

@media screen and (max-width: 700px) {
    .shop-bg {
        display: none;
    }
    #filter-logo {
        display: inline-block;
        width: 40px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 1;
        cursor: pointer;
    }
    #product-content {
        margin-top: 80px;
    }
    .search-result-info {
        margin-left: 20px;
        margin-top: 80px !important;
    }
}

#product-content {
    .search-result-info {
        margin-left: 20px;
        margin-top: 20px;
    }
    .row {
        padding: 15px;
        .col-md-4 {
            padding-top: 30px;
            .item {
                padding-left: 5px;
                padding-right: 5px;
                text-align: center;
                transition: 0.4s;
                h3 {
                    color: #a90045;
                }
                img {
                    width: 100%;
                }
            }
            .item:hover {
                //border-color: #353535;
                transform: scale(1.1, 1.1);
                cursor: pointer;
            }
        }
    }
}

.form {
    margin: 25px 15px 30px 5px;
    max-width: 100%
}

#Search-box {
    margin-right: 20px !important;
}

.chosenOption {
    border-color: white !important;
}

#bg-product {
    height: 65vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 1)), url('photos/bg_product.jpg');
    background-attachment: fixed;
    background-size: 100% 67%;
    #title {
        padding-top: 10%;
    }
}

#product-details {
    .container {
        background-color: white;
        margin-top: -250px;
        .row {
            padding-top: 20px;
            #small-images {
                padding-right: 0px;
                img {
                    margin-bottom: 10px;
                }
                .chosen-picture {
                    box-shadow: 0px 0px 5px 2px #ed9a44;
                }
            }
            @media screen and (min-width: 700px) {
                #info {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            #info {
                margin-bottom: 10px;
            }
            .btn {
                margin-top: 10px;
                margin-right: 5px;
            }
            #availability {
                margin-top: 20px;
            }
        }
    }
}

blockquote {
    background-color: #f2f2f2;
    border-color: #4FC3F7;
}

#shop {
    #alert {
        position: fixed;
        left: -5px;
        top: 86%;
        width: 300px;
        z-index: 80000;
        text-align: center;
    }
}
